.board-container {
  display: grid;
  grid-template-areas:
    'board-number Nhand NE'
    'Whand blank Ehand'
    'SW Shand SE';
  grid-gap: 1rem;
  margin: 1rem;
}

.board-number {
  grid-area: board-number;
  font-size: 2rem;
}

.Nhand {
  grid-area: Nhand;
}

.Shand {
  grid-area: Shand;
}

.Whand {
  grid-area: Whand;
}

.Ehand {
  grid-area: Ehand;
}