.alert-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-10%);
  margin: 0 auto;
  z-index: 1050;
}

.alert-simple.alert-success {
  border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: white;
  box-shadow: 0px 0px 2px #259c08;
  border-radius: 0.5rem;
  color: #0ad406;
  transition: 0.5s;
  cursor: pointer;
}

.alert-success:hover {
  background-color: rgba(7, 149, 66, 0.35);
  transition: 0.5s;
}

.alert-simple.alert-error {
  border: 1px solid rgba(241, 6, 6, 0.81);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px #ff0303;
  color: #ff0303;
  text-shadow: 2px 1px #00040a;
  transition: 0.5s;
  cursor: pointer;
}

.alert-error:hover {
  background-color: rgba(220, 17, 1, 0.33);
  transition: 0.5s;
}